<!DOCTYPE html>
{{/* Multilang support for lang attribute */}}
<html lang="{{ site.Language.LanguageCode }}" dir="{{ $.Param "languagedir" | default "ltr" }}" prefix="og: https://ogp.me/ns#{{ if in .Site.Params.mainTypes .Type }} article: https://ogp.me/ns/article#{{ end }}" class="h-feed">

<head prefix="og: http://ogp.me/ns#">
    <!-- BGN: YourOnly.One Head-01-Top -->
      {{- if templates.Exists "partials/youronly.one-head-01-top.html" -}}
        {{ partial "youronly.one-head-01-top.html" . }}
      {{- end }}
    <!-- END: YourOnly.One Head-01-Top -->

    {{- /* We already have this
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    */ -}}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{/* YourOnly.One: changed */}}
    <title class="p-name">{{ block "title" . }}{{ if eq .Kind "taxonomy" }}{{ i18n .Data.Plural (len .Data.Terms) }}{{ else }}{{ .Title }}{{ end }} – {{ .Site.Title }}{{ end }}</title>
    {{ partial "head/scripts" . }}
    {{ partial "head/styles" . }}
    {{ partial "head/meta" . }}
    {{/* {{ partial "head/meta_json_ld" . }} */}}
    {{ partial "head/services" . }}
    {{ partial "head/custom-head" . }}

    <link rel="stylesheet" href="{{ (resources.Get "css/theme.css" | minify).RelPermalink }}" crossorigin="anonymous" media="all" type="text/css" />

    <!-- BGN: YourOnly.One Head-02-Bottom -->
      {{- if templates.Exists "partials/youronly.one-head-02-btm.html" -}}
        {{ partial "youronly.one-head-02-btm.html" . }}
      {{- end }}
    <!-- END: YourOnly.One Head-02-Bottom -->
</head>

<body id="root" class="theme__{{ index .Site.Params.themeOptions 0 }}">
    <!-- BGN: Yuki Body Top -->
      {{- if templates.Exists "partials/youronly.one-body-01-top.html" -}}
        {{ partial "youronly.one-body-01-top.html" . }}
      {{- end }}
    <!-- END: Yuki Body Top -->
    <script>
      var localTheme = localStorage.getItem('theme');
      if (localTheme) {
          document.getElementById('root').className = 'theme__' + localTheme;
      }
    </script>

    <div id="container">
        {{ partial "body/main-left" . }}
        <div class="wrapper" data-type="{{ .Type }}" data-kind="{{ .Kind }}">
            {{ partial "navbar/site-nav" . }}
            {{ partial "header/site-header" . }}
            {{ block "main" . }}{{ end }}
            {{ partial "body/custom-body" . }}
            {{ partial "footer/site-footer" . }}
        </div>
        {{ partial "body/main-right" . }}
    </div>
    <!-- BGN: YourOnly.One Body-02-Bottom -->
      {{- if templates.Exists "partials/youronly.one-body-02-btm.html" -}}
        {{ partial "youronly.one-body-02-btm.html" . }}
      {{- end }}
    <!-- END: YourOnly.One -02-Bottom -->
</body>

</html>
