{{ define "main" }}

<main class="main inner" data-sidebar-position="{{ $.Param "sidebarPosition" }}">
    <div class="h-entry single list__main {{ if $.Param "enableSidebar" }}{{ if eq ($.Param "sidebarPosition") "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}" data-clarity-region="article">
        {{ if $.Param "enableBreadcrumb" }}
          {{ partial "body/breadcrumb" . }}
        {{ end }}
        {{ with .Params.images }}
          <div class="txt_center" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">
            <img src="{{ index . 0 | absURL }}" class="u-featured" />
          </div>
        {{ end }}

        {{- /* YourOnly.One: replaced
          <header class="list__header">
              <h5 class="p-name list__header--title capitalize h5">{{.Title}}</h5>
          </header>
        */ -}}
        <h2 class="p-name single__title" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">{{ .Title }}</h2>
        <h3 class="p-summary single__subtitle">{{ or .Params.subtitle .Description }}</h3>

        <div class="single__meta">
          {{ partial "body/infos" . }}
          {{ partial "body/tags" . }}
        </div>

        <article class="e-content single__contents" data-dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">
          {{/* BGN: Badges */}}
          {{ partial "badges.html" . }}
          {{/* END: Badges */}}
          {{ partial "body/toc" . }}

          {{- /* BGN: YourOnly.One: changed */ -}}
            {{- /* .Content */ -}}

            {{- $inserthere := `<div role="cover-image-attributions">` -}}
            {{- $insertcontent := partial "youronly.one-content-partof.html" . -}}
            {{- $joined := print $insertcontent $inserthere -}}
            {{- $content := replace .Content $inserthere $joined 1 -}}
            {{ $content | safeHTML }}
          {{- /* END: YourOnly.One: changed */ -}}

          {{ with .Params.syndication }}
            {{ partial "syndication.html" . }}
          {{ end }}
        </article>

        <div class="summary__container" data-display="block">
            {{ $paginator := .Paginate (where .Pages "Section" .Type).ByWeight }}
            {{ range $paginator.Pages }}
                {{ .Render "summary" }}
            {{ end }}
            {{ partial "pagination/pagination" . }}
        </div>
        {{ partial "search/search-result-desktop" . }}
    </div>

    {{ if $.Param "enableSidebar" }}
        <aside class="list__sidebar {{ if eq ($.Param "sidebarPosition") "left" }}l{{ else }}r{{ end }}" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
            {{ partial "sidebar/sidebar-list" . }}
        </aside>
    {{ end }}
</main>

{{ partial "script/sidebar-script" . }}
{{ partial "script/list-script" . }}
{{ end }}
