{{ define "main" }}
{{/* YourOnly.One: POST VIEW */}}
{{- $enableToc := $.Param "enableToc" | jsonify -}}
{{- $toc := $.Param "toc" | jsonify -}}
{{- $tocPosition := $.Param "tocPosition" | jsonify -}}

{{- $single02js := resources.Get "js/single-02.js" | minify -}}
{{- $single02jsvars := dict "enableToc" $enableToc "toc" $toc "tocPosition" $tocPosition }}
{{- $single02js = $single02js | js.Build ( dict "params" $single02jsvars ) -}}

<main class="single__main {{ if or ($.Param "enableToc") ($.Param "toc") }}{{ if $.Param "hideToc" }}main{{ else if eq ($.Param "tocPosition") "outer" }}main{{ else }}main-main{{ end }}{{ else }}main{{ end }}">
  {{ if $.Param "enableBreadcrumb" }}
    {{ partial "body/breadcrumb" . }}
  {{ end }}
  {{ if $.Param "hideSingleContentsWhenJSDisabled" }}
  <noscript>
    <div class="single__nojs">
      {{ i18n "nojs-message" }}
    </div>
  </noscript>
  {{ end }}
  <div class="h-entry single {{ if $.Param "hideSingleContentsWhenJSDisabled" }}hide{{ end }}">
    <div class="single__nojs">{{ i18n "nojs-message" }}</div>
    {{- /* NOTE: moved to /assets/ for CSP compatibility */ -}}
    <script src="{{ (resources.Get "js/single-01.js" | minify).RelPermalink }}" crossorigin="anonymous" defer></script>

    {{/* YourOnly.One: new addition */}}
    {{ with .Params.images }}
      <div class="txt_center" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">
        <img src="{{ index . 0 | absURL }}" class="u-featured" />
      </div>
    {{ end }}
    <h2 class="p-name single__title" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">{{ .Title }}</h2>
    <h3 class="p-summary single__subtitle">{{ or .Params.subtitle .Description }}</h3>
    <div class="single__meta">
      {{ partial "body/infos" . }}
      {{ partial "body/tags" . }}
    </div>
    <article class="e-content single__contents" data-dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}" data-clarity-region="article">
      {{ partial "body/toc" . }}

      {{- /* BGN: YourOnly.One: changed */ -}}
        {{- /* .Content */ -}}

        {{- $inserthere := `<div role="cover-image-attributions">` -}}
        {{- $insertcontent := partial "youronly.one-content-partof.html" . -}}
        {{- $joined := print $insertcontent $inserthere -}}
        {{- $content := replace .Content $inserthere $joined 1 -}}
        {{ $content | safeHTML }}
      {{- /* END: YourOnly.One: changed */ -}}

      {{ with .Params.syndications }}
        {{ partial "syndications.html" . }}
      {{ end }}
    </article>

    {{ partial "script/clipboard-script" . }}
    {{ partial "script/codeblock-script" . }}
    {{ partial "body/share" . }}
    <div class="single__contents">
      <!-- BGN: YourOnly.One Head-01-Top -->
        {{- if templates.Exists "partials/youronly.one-post-02-btm.html" -}}
          {{ partial "youronly.one-post-02-btm.html" . }}
        {{- end }}
      <!-- END: YourOnly.One Head-01-Top -->
    </div>
    {{ partial "body/donation" . }}
    {{ partial "body/whoami" . }}
    {{ partial "body/related" . }}
    {{ partial "pagination/pagination-single" . }}
    {{ partial "comments/comments.html" . }}
    {{ partial "body/photoswipe" . }}

    <div class="hide">
      {{ partial "search/site-search" . }}
    </div>
  </div>
</main>

{{ if and (or ($.Param "enableToc") ($.Param "toc")) (ne ($.Param "tocPosition") "outer") }}
<aside class="single__side {{ if or ($.Param "enableToc") ($.Param "toc") }}main-side{{ end }}">
  {{ partial "sidebar/sidebar-single" . }}
</aside>
{{ end }}
{{- /* NOTE: moved to /assets/ for CSP compatibility */ -}}
<script src="{{ $single02js.RelPermalink }}" crossorigin="anonymous" defer></script>
{{ partial "script/single-script" . }}
{{ end }}
