{{ template "_internal/webmention.html" . }}
<div class="single__contents">
  <div id="webmentions"></div>
</div>
{{ if $.Param "enableComment" }}
  {{ if .Site.Config.Services.Disqus.Shortname }}
    {{ template "_internal/disqus.html" . }}
  {{ else if $.Param "commento" }}
    {{ partial "comments/commento.html" . }}
  {{ else if $.Param "valine.enable" }}
    {{ partial "comments/valine.html" . }}
  {{ else if $.Param "changyan.changyanAppid" }}
    {{ partial "comments/changyan.html" . }}
  {{ else if $.Param "livere.livereUID" }}
    {{ partial "comments/livere.html" . }}
  {{ else if $.Param "gitment.owner" }}
    {{ partial "comments/gitment.html" . }}
  {{ else if $.Param "gitalk.owner" }}
    {{ partial "comments/gitalk.html" . }}
  {{ else if $.Param "utterances.owner" }}
    {{ partial "comments/utterances.html" . }}
  {{ else if $.Param "isso.enable" }}
    {{ partial "comments/isso.html" . }}
  {{ else if $.Param "telegram.enable" }}
    {{ partial "comments/telegram.html" . }}
  {{ end }}
{{ end }}
